In [2]:
import pandas as pd

In [3]:
basics_url='https://datasets.imdbws.com/title.basics.tsv.gz'

In [4]:
ratings_url='https://datasets.imdbws.com/title.ratings.tsv.gz'

In [5]:
akas_url='https://datasets.imdbws.com/title.akas.tsv.gz'

In [6]:
basics= pd.read_csv(basics_url, sep='\t', low_memory='False')

C:\Users\Alpha\AppData\Local\Temp\ipykernel_13564\1344591589.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  basics= pd.read_csv(basics_url, sep='\t', low_memory='False')

In [7]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory='False')

In [8]:
akas = pd.read_csv(akas_url, sep='\t', low_memory='False')

C:\Users\Alpha\AppData\Local\Temp\ipykernel_13564\3527530519.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  akas = pd.read_csv(akas_url, sep='\t', low_memory='False')

In [9]:
basics = basics.replace({'\\N':np.nan})

In [10]:
ratings = ratings.replace({'\\N':np.nan})

In [11]:
akas = akas.replace({'\\N':np.nan})

In [12]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9093294,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9093295,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9093296,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9093297,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9093298,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [13]:
basics = basics[basics["runtimeMinutes"].str.contains("NaN")==False]

In [14]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9093249,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary
9093255,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,NaN,43,"Family,Game-Show,Reality-TV"
9093290,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,NaN,11,"Adventure,Animation,Comedy"
9093297,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9093298,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [15]:
basics = basics[basics["genres"].str.contains("NaN")==False]

In [16]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9093249,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary
9093255,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,NaN,43,"Family,Game-Show,Reality-TV"
9093290,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,NaN,11,"Adventure,Animation,Comedy"
9093297,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9093298,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [17]:
basics['titleType'].value_counts()

tvEpisode       1055533
short            570808
movie            364826
video            174222
tvMovie           87991
tvSeries          86067
tvSpecial         16328
tvMiniSeries      15905
tvShort            9358
videoGame           293
Name: titleType, dtype: int64

In [18]:
basics = basics[basics["titleType"].str.contains("tvEpisode")==False]

In [19]:
basics = basics[basics["titleType"].str.contains("short")==False]

In [20]:
basics = basics[basics["titleType"].str.contains("video")==False]

In [21]:
basics = basics[basics["titleType"].str.contains("tvMovie")==False]

In [22]:
basics = basics[basics["titleType"].str.contains("tvSeries")==False]

In [23]:
basics = basics[basics["titleType"].str.contains("tvMiniSeries")==False]

In [24]:
basics = basics[basics["titleType"].str.contains("tvShort")==False]

In [25]:
basics = basics[basics["titleType"].str.contains("videoGame")==False]

In [26]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"
...,...,...,...,...,...,...,...,...,...
9093064,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9093148,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9093189,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9093216,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9093249,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [27]:
basics['startYear'].value_counts()

2017    14798
2018    14745
2019    14474
2016    14375
2015    13874
        ...
1909        1
1910        1
1908        1
1907        1
1908        1
Name: startYear, Length: 212, dtype: int64

In [28]:
basics = basics[basics["genres"].str.contains("NaN")==False]

In [29]:
basics = basics['startYear'].astype(int)

ValueError: cannot convert float NaN to integer

In [ ]:
is_documentary = basics['genres'].str.contains('Documentary',case=False)
basics = basics[~is_documentary]

In [ ]:
import os
os.makedirs('DATA/',exist_ok=True)

os.listdir("DATA/")

In [ ]:
basics.to_csv("DATA/basics.csv.gz",compression='gzip',index=False)

In [ ]:
ratings.to_csv("DATA/ratings.csv.gz",compression='gzip',index=False)

In [ ]:
akas.to_csv("DATA/akas.csv.gz",compression='gzip',index=False)

In [ ]:
basics = pd.read_csv("DATA/basics.csv.gz", low_memory = False)
basics.head()

In [ ]:
ratings = pd.read_csv("DATA/ratings.csv.gz", low_memory = False)
ratings.head()

In [ ]:
akas = pd.read_csv("DATA/akas.csv.gz", low_memory = False)
akas.head()