In [1]:
import pandas as pd

In [2]:
basics_url='https://datasets.imdbws.com/title.basics.tsv.gz'

In [3]:
ratings_url='https://datasets.imdbws.com/title.ratings.tsv.gz'

In [4]:
akas_url='https://datasets.imdbws.com/title.akas.tsv.gz'

In [5]:
basics= pd.read_csv(basics_url, sep='\t', low_memory='False')

C:\Users\Alpha\AppData\Local\Temp\ipykernel_3296\1344591589.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  basics= pd.read_csv(basics_url, sep='\t', low_memory='False')

In [6]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory='False')

In [7]:
akas = pd.read_csv(akas_url, sep='\t', low_memory='False')

C:\Users\Alpha\AppData\Local\Temp\ipykernel_3296\3527530519.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  akas = pd.read_csv(akas_url, sep='\t', low_memory='False')

In [8]:
basics.replace({'\\N':np.nan}, inplace=True)

In [9]:
ratings.replace({'\\N':np.nan}, inplace=True)

In [10]:
akas.replace({'\\N':np.nan}, inplace=True)

In [11]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9117058,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9117059,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9117060,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9117061,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9117062,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [12]:
basics['titleType'].value_counts()

tvEpisode       6863574
short            881902
movie            617217
video            263699
tvSeries         228979
tvMovie          137006
tvMiniSeries      44538
tvSpecial         37785
videoGame         31735
tvShort           10626
tvPilot               2
Name: titleType, dtype: int64

In [13]:
basics = basics[basics["titleType"].str.contains("tvEpisode")==False]

In [14]:
basics = basics[basics["titleType"].str.contains("short")==False]

In [15]:
basics = basics[basics["titleType"].str.contains("video")==False]

In [16]:
basics = basics[basics["titleType"].str.contains("tvMovie")==False]

In [17]:
basics = basics[basics["titleType"].str.contains("tvSeries")==False]

In [18]:
basics = basics[basics["titleType"].str.contains("tvMiniSeries")==False]

In [19]:
basics = basics[basics["titleType"].str.contains("tvShort")==False]

In [20]:
basics = basics[basics["titleType"].str.contains("videoGame")==False]

In [21]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...,...
9116953,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9116980,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9116992,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
9117003,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN
9117013,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [22]:
basics['startYear'].value_counts()

2018    20010
2017    19901
2019    19794
2021    19662
2016    19464
        ...
2000        1
2021        1
2019        1
1906        1
1896        1
Name: startYear, Length: 222, dtype: int64

In [23]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 655004 entries, 8 to 9117013
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          655004 non-null  object
 1   titleType       655004 non-null  object
 2   primaryTitle    655004 non-null  object
 3   originalTitle   655004 non-null  object
 4   isAdult         655004 non-null  object
 5   startYear       573423 non-null  object
 6   endYear         1 non-null       object
 7   runtimeMinutes  407495 non-null  object
 8   genres          577874 non-null  object
dtypes: object(9)
memory usage: 50.0+ MB

In [24]:
basics = basics.dropna(subset=['genres', 'runtimeMinutes', 'startYear'])
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           376002
runtimeMinutes         0
genres                 0
dtype: int64

In [25]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [26]:
basics['startYear'] = basics['startYear'].astype(str)

C:\Users\Alpha\AppData\Local\Temp\ipykernel_3296\3743634496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basics['startYear'] = basics['startYear'].astype(str)

In [27]:
is_documentary = basics["genres"].str.contains('Documentary', case=False)
basics = basics[~is_documentary]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"

In [28]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.8)

In [29]:
import json
with open('/Users/Alpha/.secretMovie/tmdb_api.json', 'r') as f:
    login = json.load(f)

login.keys()

dict_keys(['api-key'])

In [30]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [33]:
movie = tmdb.Movies(603)

In [34]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/n2nm4aZRmXyJ9LT4xQX9X6ThcP7.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 77.647,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/tXMFoE8AtNdnFzWOW0aCLwl7xxS.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.2,
 'vote_count': 21857}

In [35]:
info['budget']

63000000

In [37]:
info['revenue']

132000000

In [36]:
movie = tmdb.Movies('tt1361336')
info = movie.info()
info['budget']

50000000

In [38]:
info['imdb_id']

'tt1361336'

In [39]:
movie = tmdb.Movies('tt1361336')
info = movie.info()
info['budget']

50000000

In [45]:
def get_movie_with_rating(movie_id):

    movie = tmdb.Movies(movie_id)

    movie_info = movie.info()
    releases = movie.releases()

    for c in releases['countries']:
        if c['iso_3166_1' ] =='US':
            movie_info['certification'] = c['certification']
    return movie_info

In [46]:
test = get_movie_with_rating("tt0848228") #put your function name here
test

{'adult': False,
 'backdrop_path': '/nNmJRkg8wWnRmzQDe2FwKbPIsJV.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 290.097,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.706,
 'vote_count': 27300,
 'certification': 'PG-13'}

In [47]:
import os, time,json
import tmdbsimple as tmdb 
DATA = "Data/"
os.makedirs(DATA, exist_ok=True)
os.listdir(DATA)

['akas.csv.gz', 'basics.csv.gz', 'ratings.csv.gz']

In [48]:
YEARS_TO_GET = [2000,2001]

In [51]:
for 2000 in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):

SyntaxError: unexpected EOF while parsing (3926414557.py, line 1)

In [72]:
JSON_FILE = f'{DATA}tmdb_api_results_{2000}.json'

JSON_FILE2 = f'{DATA}tmdb_api_results_{2001}.json'

In [75]:
file_exists = os.path.isfile(JSON_FILE)

file_exists2 = os.path.isfile(JSON_FILE2)

In [76]:
if file_exists == False:

    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

In [77]:
if file_exists2 == False:

    with open(JSON_FILE2,'w') as f:
        json.dump([{'imdb_id':0}],f)

In [78]:
basics = pd.read_csv('DATA/basics.csv.gz')

In [79]:
df_2000 = basics.loc[ basics['startYear']==2000].copy()

movie_ids = df_2000['tconst'].copy()

In [80]:
df_2001 = basics.loc[ basics['startYear']==2000].copy()

movie_ids = df_2001['tconst'].copy()

In [81]:
previous_df = pd.read_json(JSON_FILE)

previous_df2 = pd.read_json(JSON_FILE2)

In [82]:
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [83]:
def write_json(new_data, filename): 

    with open(filename,'r+') as file:
        
        file_data = json.load(file)
        
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        
        file.seek(0)
        
        json.dump(file_data, file)

In [84]:
from tqdm.notebook import trange, tqdm, tqdm_notebook

In [85]:
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {2000}',
                                  position=1,
                                  leave=True):
        
        try:
            temp = get_movie_with_rating(movie_id)  
            
            write_json(temp,JSON_FILE)
            
            time.sleep(0.02)
            
        
        except Exception as e:
            continue

Movies from 2000:   0%|          | 0/4 [00:00<?, ?it/s]

In [86]:
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {2001}',
                                  position=1,
                                  leave=True):
        
        try:
            temp = get_movie_with_rating(movie_id)  
            
            write_json(temp,JSON_FILE2)
            
            time.sleep(0.02)
            
        
        except Exception as e:
            continue

Movies from 2001:   0%|          | 0/4 [00:00<?, ?it/s]

In [87]:
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{DATA}final_tmdb_data_{2000}.csv.gz", compression="gzip", index=False)

In [88]:
final_year_df2 = pd.read_json(JSON_FILE2)
final_year_df2.to_csv(f"{DATA}final_tmdb_data_{2001}.csv.gz", compression="gzip", index=False)

In [90]:
final_year_df2.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1831837,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",,720041.0,ru,Звериные войны,...,2000-08-28,0.0,73.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,The First and Only Animated Lampoon on Football,Animal Wars,0.0,0.0,0.0
2,tt1831837,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",,720041.0,ru,Звериные войны,...,2000-08-28,0.0,73.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,The First and Only Animated Lampoon on Football,Animal Wars,0.0,0.0,0.0

In [29]:
#basics['startYear'] = basics['startYear'].loc['2000':'2021']

In [30]:
#import os
#os.makedirs('DATA/',exist_ok=True)

#os.listdir("DATA/")

['akas.csv.gz', 'basics.csv.gz', 'ratings.csv.gz']

In [156]:
#basics.to_csv("DATA/basics.csv.gz",compression='gzip',index=False)

In [157]:
#ratings.to_csv("DATA/ratings.csv.gz",compression='gzip',index=False)

In [158]:
#akas.to_csv("DATA/akas.csv.gz",compression='gzip',index=False)

In [159]:
#basics = pd.read_csv("DATA/basics.csv.gz", low_memory = False)
#basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,NaN,NaN,45,Romance
1,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,NaN,NaN,70,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,NaN,NaN,90,Drama
3,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,NaN,NaN,120,"Adventure,Fantasy"
4,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,NaN,NaN,58,"Adventure,Drama"

In [160]:
#ratings = pd.read_csv("DATA/ratings.csv.gz", low_memory = False)
#ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1901
1  tt0000002            5.9       254
2  tt0000003            6.5      1695
3  tt0000004            5.7       166
4  tt0000005            6.2      2513

In [161]:
#akas = pd.read_csv("DATA/akas.csv.gz", low_memory = False)
#akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0.0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0.0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0.0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0.0