In [179]:
import pandas as pd

In [180]:
basics_url='https://datasets.imdbws.com/title.basics.tsv.gz'

In [181]:
ratings_url='https://datasets.imdbws.com/title.ratings.tsv.gz'

In [182]:
akas_url='https://datasets.imdbws.com/title.akas.tsv.gz'

In [183]:
basics= pd.read_csv(basics_url, sep='\t', low_memory='False')

C:\Users\Alpha\AppData\Local\Temp\ipykernel_23180\1344591589.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  basics= pd.read_csv(basics_url, sep='\t', low_memory='False')

In [184]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory='False')

In [185]:
akas = pd.read_csv(akas_url, sep='\t', low_memory='False')

C:\Users\Alpha\AppData\Local\Temp\ipykernel_23180\3527530519.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  akas = pd.read_csv(akas_url, sep='\t', low_memory='False')

In [186]:
basics.replace({'\\N':np.nan}, inplace=True)

In [187]:
ratings.replace({'\\N':np.nan}, inplace=True)

In [188]:
akas.replace({'\\N':np.nan}, inplace=True)

In [189]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9119482,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9119483,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9119484,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9119485,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9119486,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [190]:
basics['titleType'].value_counts()

tvEpisode       6865649
short            882039
movie            617304
video            263728
tvSeries         229026
tvMovie          137022
tvMiniSeries      44555
tvSpecial         37794
videoGame         31742
tvShort           10626
tvPilot               2
Name: titleType, dtype: int64

In [191]:
basics = basics[basics["titleType"].str.contains("tvEpisode")==False]

In [192]:
basics = basics[basics["titleType"].str.contains("short")==False]

In [193]:
basics = basics[basics["titleType"].str.contains("video")==False]

In [194]:
basics = basics[basics["titleType"].str.contains("tvMovie")==False]

In [195]:
basics = basics[basics["titleType"].str.contains("tvSeries")==False]

In [196]:
basics = basics[basics["titleType"].str.contains("tvMiniSeries")==False]

In [197]:
basics = basics[basics["titleType"].str.contains("tvShort")==False]

In [198]:
basics = basics[basics["titleType"].str.contains("videoGame")==False]

In [199]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...,...
9119377,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9119404,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9119416,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
9119427,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN
9119437,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [200]:
basics['startYear'].value_counts()

2018    20006
2017    19902
2019    19793
2021    19662
2016    19463
        ...
2000        1
2021        1
2019        1
1906        1
1896        1
Name: startYear, Length: 222, dtype: int64

In [201]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 655100 entries, 8 to 9119437
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          655100 non-null  object
 1   titleType       655100 non-null  object
 2   primaryTitle    655100 non-null  object
 3   originalTitle   655100 non-null  object
 4   isAdult         655100 non-null  object
 5   startYear       573496 non-null  object
 6   endYear         1 non-null       object
 7   runtimeMinutes  407591 non-null  object
 8   genres          577981 non-null  object
dtypes: object(9)
memory usage: 50.0+ MB

In [202]:
basics = basics.dropna(subset=['genres', 'runtimeMinutes', 'startYear'])
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           376097
runtimeMinutes         0
genres                 0
dtype: int64

In [203]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [204]:
basics['startYear'] = basics['startYear'].astype(int)

C:\Users\Alpha\AppData\Local\Temp\ipykernel_23180\3388318893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basics['startYear'] = basics['startYear'].astype(int)

In [205]:
is_documentary = basics["genres"].str.contains('Documentary', case=False)
basics = basics[~is_documentary]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"

In [159]:
#!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\alpha\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.1.0)

In [207]:
import json
with open('/Users/Alpha/.secretMovie/tmdb_api.json', 'r') as f:
    login = json.load(f)

login.keys()

dict_keys(['api-key'])

In [208]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [209]:
def get_movie_with_rating(movie_id):

    movie = tmdb.Movies(movie_id)

    movie_info = movie.info()
    releases = movie.releases()

    for c in releases['countries']:
        if c['iso_3166_1' ] =='US':
            movie_info['certification'] = c['certification']
    return movie_info

def write_json(new_data, filename): 
    """Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""    
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [210]:
test = get_movie_with_rating("tt0848228") 
test

{'adult': False,
 'backdrop_path': '/nNmJRkg8wWnRmzQDe2FwKbPIsJV.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 290.097,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.706,
 'vote_count': 27302,
 'certification': 'PG-13'}

In [211]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [212]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
1,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
3,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
4,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"

In [216]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [217]:
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1901
1  tt0000002            5.9       255
2  tt0000003            6.5      1696
3  tt0000004            5.7       167
4  tt0000005            6.2      2515

In [218]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [219]:
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0.0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0.0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0.0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0.0

In [164]:
import os, time,json
import tmdbsimple as tmdb
DATA = "DATA/DATA"
os.makedirs(DATA, exist_ok=True)
os.listdir(DATA)

['.ipynb_checkpoints',
 'akas.csv.gz',
 'basics.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [220]:
from tqdm.notebook import trange, tqdm

In [221]:
YEARS_TO_GET = [2000,2001]

In [222]:
for i in YEARS_TO_GET:
    print(i)

2000
2001

In [223]:
for YEAR in tqdm(YEARS_TO_GET,desc='YEARS',position=0):
    JSON_FILE = f'{DATA}tmdb_api_results_{YEAR}.json'
    
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:

        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    

    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()#.to_list()
    
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
    #Get index and movie id from list
# INNER Loop
    for movie_id in tqdm(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        # Attempt to retrieve then data for the movie id
        try:
            temp = get_movie_with_rating(movie_id)  #This uses your pre-made function
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        # If it fails,  make a dict with just the id and None for certification.
        except Exception as e:
            continue
    
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{DATA}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/2900 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/3021 [00:00<?, ?it/s]

In [225]:
Movies_2000 = pd.read_csv('final_tmdb_data_2000.csv.gz')
Movies_2000

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1831837,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,720041.0,ru,Звериные войны,...,0.0,73.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,The First and Only Animated Lampoon on Football,Animal Wars,0.0,0.0,0.0,NaN
2,tt1831837,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,720041.0,ru,Звериные войны,...,0.0,73.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,The First and Only Animated Lampoon on Football,Animal Wars,0.0,0.0,0.0,NaN
3,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
4,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,tt7802790,0.0,/etxml2M8GQzb31jcH0cdA489WCX.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,610992.0,fa,مومیایی ۳,...,0.0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,The Mummy 3,0.0,7.0,1.0,NaN
2218,tt8561732,0.0,NaN,NaN,0.0,"[{'id': 10749, 'name': 'Romance'}]",NaN,740825.0,en,Tumi Mur Mathu Mur,...,0.0,90.0,"[{'english_name': 'Assamese', 'iso_639_1': 'as...",Released,NaN,Tumi Mur Mathu Mur,0.0,0.0,0.0,NaN
2219,tt8929736,0.0,NaN,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,373320.0,ta,பட்ஜெட் பத்மநாபன்,...,0.0,153.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Budget Padmanabhan,0.0,5.8,2.0,NaN
2220,tt9209606,0.0,NaN,NaN,0.0,[],NaN,878312.0,mg,Lolovokatra 2,...,0.0,90.0,[],Released,NaN,Lolovokatra 2,0.0,0.0,0.0,NaN
2221,tt9486348,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,514110.0,ar,شجيع السيما,...,0.0,95.0,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,NaN,shajie alsiyama,0.0,4.5,2.0,NaN

In [226]:
Movies_2001 = pd.read_csv('final_tmdb_data_2001.csv.gz')
Movies_2001.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,NaN,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.316,1132.0,PG-13
2,tt0079644,0.0,/79axmuH1UGkB7m72jjB9rPff9om.jpg,NaN,0.0,"[{'id': 10752, 'name': 'War'}]",NaN,285529.0,id,November 1828,...,0.0,140.0,"[{'english_name': 'Indonesian', 'iso_639_1': '...",Released,NaN,November 1828,0.0,0.000,0.0,NaN
3,tt0089067,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,210258.0,es,El día de los albañiles 2,...,0.0,90.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,The laborers are back full of love and laughs.,El día de los albañiles 2,0.0,7.197,71.0,NaN
4,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN

In [227]:
Movies0001_df = pd.concat([Movies_2000, Movies_2001], axis=0)
Movies0001_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1831837,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,720041.0,ru,Звериные войны,...,0.0,73.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,The First and Only Animated Lampoon on Football,Animal Wars,0.0,0.0,0.0,NaN
2,tt1831837,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,720041.0,ru,Звериные войны,...,0.0,73.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,The First and Only Animated Lampoon on Football,Animal Wars,0.0,0.0,0.0,NaN
3,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
4,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,New Breed,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.0,0.0,NR
2286,tt8929248,0.0,NaN,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",NaN,78417.0,ta,அழகான நாட்கள்,...,0.0,150.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Azhagana Naatkal,0.0,0.0,0.0,NaN
2287,tt9071078,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",http://www.hkcinemagic.com/en/movie.asp?id=6627,201706.0,cn,致命密函,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.0,2.0,NaN
2288,tt9099724,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,616033.0,ja,Rokushukan Private Moment,...,0.0,102.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Rokushukan Private Moment,0.0,0.0,0.0,NaN
2289,tt9798698,0.0,NaN,NaN,0.0,[],NaN,580269.0,en,Gay holocaust,...,0.0,0.0,[],Released,NaN,Gay holocaust,0.0,0.0,0.0,NaN

In [229]:
Movies0001_df['budget'].head()

0           NaN
1           0.0
2           0.0
3    10000000.0
4           0.0
Name: budget, dtype: float64

In [231]:
Movies_wit_fininfo = Movies0001_df['budget'] > 0
Movies_wit_fininfo.sum()

600

In [241]:
Movies0001_df['certification'].value_counts()

R          465
PG-13      181
NR          72
PG          67
G           28
NC-17        7
Unrated      1
-            1
Name: certification, dtype: int64

In [244]:
Movies0001_df['revenue'].mean()

6322475.315964524

In [245]:
Movies0001_df['budget'].mean()

2996167.350776053

In [228]:
Movies0001_df.to_csv("DATA/tmdb_results_combined.csv.gz",compression='gzip',index=False)

In [172]:
#import os
#os.makedirs('DATA/',exist_ok=True)

#os.listdir("DATA/")

In [174]:
#ratings.to_csv("DATA/ratings.csv.gz",compression='gzip',index=False)

In [175]:
#akas.to_csv("DATA/akas.csv.gz",compression='gzip',index=False)

In [176]:
#basics = pd.read_csv("DATA/basics.csv.gz", low_memory = False)
#basics.head()

In [177]:
#ratings = pd.read_csv("DATA/ratings.csv.gz", low_memory = False)
#ratings.head()

In [178]:
#akas = pd.read_csv("DATA/akas.csv.gz", low_memory = False)
#akas.head()